{% extends 'jeux.html.twig' %}

{% block body %}

    <form  class="creer" action="{{ path('create_game') }}" method="POST">
        <div>
            <label for="adversaire">Choisir votre adversaire</label>
            <select style="height: 90%;" name="adversaire" id="adversaire">
                <option value="">Choisir</option>
                {% for adversaire in adversaires if adversaire.id != user.id and adversaire.pseudo != "admin" %}
                    <option value="{{ adversaire.id }}">{{ adversaire.email }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="Créer partie" />
        </div>
    </form>


{% endblock %}

{% block title %}

{% endblock %}

