* {
  margin: 0;
  padding: 0;
  font-family: GROBOLD;
}

@font-face {
  font-family: GROBOLD;
  src: url("GROBOLD.ttf");
}

div.inscription {
  background: url("../images/fond_video.png") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

img.logo {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 5vh;
}

div.formulaire {
  display: flex;
  justify-content: space-around;
  position: relative;
}

h1 {
  font-family: GROBOLD;
  color: #fff;
  font-size: 70px;
  text-align: center;
  margin-top: 5vh;
}

div.gauche {
}

div.droite {
}

label {
  color: #fff;
  font-size: 250%;
}

input {
  height: 3vh;
  width: 30vh;
  position: relative;
  left: 5vh;
  top: -1vh;
}

button {
  width: 30%;
  height: 5vh;
  font-size: 150%;
  border-radius: 10px;
  position: relative;
  top: 2vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
